@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    accent-color: red;
    /* background: linear-gradient(45deg, #1e3c72, #468aca); */
    background: linear-gradient(-45deg,  #008d8c ,#b37d0e ,#bc9648);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    margin: 0 20%;
    align-items: center;
    justify-content: center;
    animation: backgroundTransition 8s ease-in-out infinite;
}

.titulo-form{
    background: linear-gradient(-45deg, #008d8c ,#b37d0e);
    border: none;
    border-radius: 15px;
}


@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}

main{
    z-index: 1;
    margin-top: 2rem;
    margin-bottom: 0%;
    background: white;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    flex-direction: column;
}

hr{
    height: 2px;
    width: 100%;
    color: black;
    border: none;
    border-radius: 10px;
    background: linear-gradient( -50deg, #008d8c ,#b37d0e ,#bc9648);
    animation: backgroundTransition 8s ease-in-out infinite;
}

.color-titulos {
    font-size: 1.5rem!important;
}

.p-padrao {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0;
    
}

#img-header {
    display: flex;
    justify-content: center;
}


 /*selection de idiomas*/
        
 #idiomas {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.idiomas {
    display: flex;
}

.idiomas img {
    width: 24px;
    margin: 0 2px;
    cursor: pointer;
}

/*titulos*/
        
.titulo-BR {
    text-transform: uppercase;
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-bottom: 0.4rem;
}

@media (max-width:768px) {
    .titulo-BR {
        font-size: 1.4rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
    }
    body{
        margin: 0 10%;
    }
    main {
        margin: 0;
        border-style: none;
        border-width: 1px;
        border-radius: 10px;
    }
}

@media (max-width:426px) {
    .titulo-BR {
        font-size: 1.2rem!important;
        margin-top: 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        margin-bottom: 0.4rem;
    }

    
}

/*formulario*/
        
#form {
    margin: 1rem 6.5%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1rem;
}

label {
    margin: 1rem 1rem !important;
}

input {
    position: relative;
    border-radius: 4px;
    padding: 7px;
    font-size: 15px;
    outline: none;

    margin-top: 1rem;

}

.nome-input {
    width: 20rem;
}

.form-titulo {
    text-align: center;
    margin-bottom: 1.5rem;
}

.nomecontatoemail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.paiscidade {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

@media (max-width:1800px) {
    input {
        width: 100% !important;
        margin: 0rem 1rem;
    }
    .nomecontatoemail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .paiscidade {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    #form {
        margin: 1rem 0;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }
    .fix-div {
        width: 89%;
        margin-top: 1rem;
    }
}

@media (max-width:1583px) {
    input {
        width: 100% !important;
        margin: 0rem 1rem;
    }
    .nomecontatoemail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .paiscidade {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    #form {
        margin: 1rem 0;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }
    .fix-div {
        width: 89%;
        margin-top: 1rem;
    }
}

@media (max-width:426px) {
    input {
        width: 100% !important;
        margin: 0rem 1rem;
    }
    .nomecontatoemail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .paiscidade {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    #form {
        margin: 1rem 0;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }
    .fix-div {
        width: 89%;
        margin-top: 1rem;
    }
}

/*seção de avalicao por checkbox*/
        
.radios {
    margin-top: 2rem;
    padding: 1rem;
}

input[type="radio"]:checked{
    padding: 1rem;
    border-radius: 15px;
    border-width: 1px;
}

.topicos {
    background: whitesmoke;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
    border-width: 1px; 
    text-transform: uppercase;
    margin: 0 20%;
}

.topicos-opcoes {
    display: flex;
    justify-content: space-around;
}

.topico-opcoes-label {
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:426px) {
    .topicos {
        padding: 0;
        border-radius: 5px;
        border-style: none;
        border-width: 1px;
        margin: 0;
    }
    .radios {
        padding: 0;
    }
    .topicos-opcoes-mobile-fix {
        display: flex;
        align-items: center;
        /* margin: 0 1rem; */
        flex-direction: column;
    }
    .radio-titulo {
        font-size: 25px;
        text-align: center;

    }
   
}

@media (max-width:392px) {
    .topicos {
        padding: 0;
        border-radius: 5px;
        border-style: none;
        border-width: 1px;
        margin: 0;
    }
    .radios {
        padding: 0;
    }
    .topicos-opcoes-mobile-fix {
        display: flex;
        align-items: center;
        /* margin: 0 1rem; */
        flex-direction: column;
    }
    .radio-titulo {
        font-size: 25px;
        text-align: center;

    }

    
   
}

@media (max-width:1800px) {
    .topicos {
        padding: 0;
        border-radius: 5px;
        border-style: none;
        border-width: 1px;
        margin: 0;
    }
    .radios {
        padding: 0;
    }
    .topicos-opcoes-mobile-fix {
        display: flex;
        align-items: center;
        /* margin: 0 1rem; */
        flex-direction: column;
    }
    .radio-titulo {
        font-size: 25px;
        text-align: center;

    }
   
}

 /*area de criticas*/

 .radio-titulo {
    font-size: 25px;
    text-align: center!important;
    margin-bottom: 2rem;
}
.criticas {
display: flex;
flex-direction: column;
align-items: center;
}

.criticas input {
width: 50%;
height: 4rem;
}

.button-confirmar {
    background: linear-gradient(to right, #bc9648, #468aca);
    color: white;
    border-style: none;
    box-shadow: 1px 1px 1px 1px;
    margin-top: 1rem;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-confirmar:hover {
    letter-spacing: 0.8px;
    background: linear-gradient(to left, #bc9648, #468aca);
}

@media (max-width:426px) {
    textarea {
        width: 90%;
    }
}

@media (max-width:1241px) {
    textarea {
        width: 90%;
    }
}

/* ================================================================================ */
